<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for you order!</h1>
    <p>
      Please keep this email for your records.
    </p>
    <p>
      Your order details are below.
    </p>    
    <p>We hope that you enjoy your new plants!</p>
  </body>
</html>
