<section class="about-show">

  <header class="page-header">
    <h1>Welcome to the Jungle!</h1>
  </header>
  
  <h4>We are a simple shop with simple goals:</h4>
  <ul>
    <li>Turn your living space into a terarrium.</li>
    <li>Greenify your world.</li>
    <li>Make you second guess about what actually is the indoors.</li>
    <li>Was that a jaguar on your couch?</li>
  </ul>
  <h4>Let us help you to unleash the wilderness in your home!</h4>

</section>
